
*{
    font-family: Arial, Helvetica, sans-serif;
   
      
        background: #2C3E50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2C3E50 , rgb(108, 209, 253)); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2C3E50 ,  rgb(108, 209, 253)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 15px;
    white-space: pre-wrap;

  }

 
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
    
  }


  img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    
   /* width: 40%;
    height: 40%;*/
    
  }

  #caption {
      
  text-align: center;

  }


  .row .column {
    font-size: 20px;
    line-height: 2;
    text-align: center;
  }
  .row .column {
    font-size: 20px;
    line-height: 2;
    text-align: center;
  }


  #Biography {
    background: white;
  }